body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #454545;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    45deg,
    rgba(252, 252, 252, 0.8) 0%,
    rgba(249, 241, 241, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

header h1 {
  text-align: center;
}

header h1 a {
  font-size: 2.5rem;
  letter-spacing: 10px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  color: transparent;
  padding: 10px;
}

main {
  min-height: 70vh;
}

.container {
  display: flex;
}

.container main {
  width: 90%;
}

.container nav {
  width: 10%;
}

a {
  color: #454545;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.introduction {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.intro-side {
  width: 30%;
}

.avatar img {
  width: 50vw;
}

nav {
  background-color: rgba(221, 213, 213, 0.4);
  padding: 20px;
}

nav ul a {
  text-decoration: none;
  font-size: 1rem;
}

nav ul li {
  padding: 20px;
}

nav ul li:hover {
  background-color: #e4dbdb;
  font-weight: bold;
  cursor: pointer;
}

footer {
  background: linear-gradient(
    45deg,
    rgba(252, 252, 252, 0.8) 0%,
    rgba(234, 204, 204, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer-details {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.footer-details div {
  padding: 20px;
}

.quote {
  font-style: italic;
  font-size: 1.5rem;
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 10px 20px;
}

.aboutme {
  padding: 30px;
}

.about-card {
  width: 100%;
}

.about-card > div {
  display: flex;
  justify-content: space-evenly;
}

.about-card > div > div {
  background-color: rgba(221, 213, 213, 0.4);
  width: 30%;
  padding: 20px;
  border-radius: 5px;
}

.exp-position {
  font-size: 1.2rem;
  font-weight: bold;
}

.video-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-container {
  position: relative;
  width: 70%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-content {
  width: 20%;
}

.text-content {
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1400px) {
  .video-container {
    width: 90%;
  }

  .video-card {
    flex-direction: column;
  }

  .text-content {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .introduction {
    flex-direction: column;
  }

  .intro-side {
    margin-top: 40px;
  }

  .intro-side,
  .container nav,
  .container main {
    width: unset;
  }

  .container nav ul li {
    display: inline-block;
    margin-right: 10px;
  }

  .container nav {
    order: -1;
  }

  .about-card > div {
    flex-direction: column;
  }

  .about-card > div > div {
    width: 95%;
    border-bottom: 1px solid rgb(190, 184, 184);
    padding: 10px;
  }

  footer {
    padding: 10px;
  }

  .footer-details {
    flex-direction: column;
    text-align: center;
  }
}
